<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="textWriter" class="org.example.TextWriter" abstract="true"/>
    <bean id="plainTextWriter" class="org.example.PlainTextWriter"/>
    <bean id="plainTextWriter" class="org.example.PdfTextWriter"/>

</beans>